<div class="row">
    <div class="form-container card col-4">
        <div class="card-header recipe-title">
            <h2>{{recipe.recipe_name}}
                {{#if recipe.is_spicy}}
                <span> 🌶️</span>
                {{/if}}
            </h2>

            <span> {{recipe.servings}} {{format_plural "serving" recipe.servings}}</span>
        </div>
        <div class="card-body">
            <p>{{recipe.description}}</p>

            <div>Prep Time: {{recipe.prep_time}}</div>
            <div>Cook Time: {{recipe.cook_time}}</div>

            {{> ingredients recipe.ingredients}}

            <h4>Instructions:</h4>
            <p class="recipe-footer">{{recipe.cooking_instructions}}</p>

        </div>
    </div>
    <div class="col-6">
        <div class="pt-3">
            <h3>Comments/Notes</h3>
            {{> comments recipe.comments}}
        </div>
    </div>
</div>
{{#if loggedIn}}
<form class="comment-form">
    <div class="col-4 p-0 mb-3">
        <textarea class="form-control" name="comment-body" rows=3 placeholder="Enter note or comment"></textarea>
    </div>

    <div class="p-0">
        <button type="submit" class="btn btn-warning mb-2">add comment</button>
        <button type="button" id="save-to-favorites" class="btn btn-warning mb-2">save to favorites</button>
    </div>
</form>
{{/if}}




{{#if loggedIn}}
<script src="/js/favorite-recipe.js"></script>
<script src="/js/comment.js"></script>
{{/if}}