
<div>
    <div class="card-header recipe-title">
        <h2>{{recipe.recipe_name}}
            {{#if recipe.is_spicy}}
            <span> 🌶️</span>
            {{/if}}
        </h2>

        <div> {{recipe.servings}} {{format_plural "serving" recipe.servings}}</div>
    </div>
    <div class="card-body">
        <div class="italic lighter-text">
            <span>Prep Time: {{recipe.prep_time}} -</span>
            <span>Cook Time: {{recipe.cook_time}}</span>

        </div>

        <h4 class="mt-3">Description:</h4>
        <p class="recipe-info">{{recipe.description}}</p>

        {{> ingredients ingredients}}

        <h4>Instructions:</h4>
        <p class="recipe-info">{{recipe.cooking_instructions}}</p>

    </div>
</div>

<div class="card-body">
    <div class="pt-3">
        <h4>Comments/Notes</h4>
        {{> comments recipe.comments}}

    </div>

    {{#if loggedIn}}
    <form class="comment-form">
        <div>
            <textarea class="form-control" name="comment-body" rows=3 placeholder="Enter note or comment"></textarea>
        </div>

        <div class="p-0">
            <button type="submit" class="btn btn-warning mb-2">add comment</button>

            {{!-- button for favorites feature in the future --}}
            {{!-- <button type="button" id="save-to-favorites" class="btn btn-warning mb-2">save to favorites</button> --}}
        </div>
    </form>
    {{/if}}
</div>




{{#if loggedIn}}
{{!-- link to favorite script (future feature) --}}
{{!--
<script src="/js/favorite-recipe.js"></script> --}}
<script src="/js/comment.js"></script>
{{/if}}